<div class="container">
    <div class="registration form">
        <header>Signup</header>
        <form action="#">
            <input type="text" placeholder="Enter your email">
            <input type="text" placeholder="Create a username">
            <input type="password" placeholder="Create a password">
            <input type="button" class="button" value="Signup">
        </form>
        <div class="signup">
            <span class="signup">Already have an account?
                <a routerLink="/login" for="check">Login</a>
            </span>
        </div>
    </div>
</div>