<div class="container">
    <div class="logo">
        <img src="../../../assets/images/eshop-logo.png" alt="Logo">
    </div>
    <div class="links">
        <ul>
            <li><a href>Home</a></li>
            <li id="shop"><a href>Shop</a> <i class="pi pi-angle-down"></i></li>
            <li><a href>Blogs</a></li>
            <li><a href>About</a></li>
            <li><a href>Contact</a></li>

        </ul>
    </div>
    <div class="icons">
        <span class="pi pi-heart"></span>
        <span class="pi pi-shopping-cart"></span>
        <span *ngIf="!status" routerLink="/login" class="pi pi-user"></span>
        <span *ngIf="status" routerLink="/login" (click)="logOut()" class="pi pi-sign-out"></span>
        <span class="total">$500</span>
    </div>
</div>
