<div class="container">
    <div class="logo">
        <img src="../../../assets/images/eshop-logo.png" alt="Logo">
    </div>
    <div class="links">
        <ul>
            <li><a routerLink="/main/home"
                    routerLinkActive="active">Home</a></li>
            <li routerLink="/main/shop"
                routerLinkActive="active"><a>Shop</a></li>
            <li><a>Blogs</a></li>
            <li><a>About</a></li>
            <li><a>Contact</a></li>

        </ul>
    </div>
    <div class="icons">
        <span class="pi pi-shopping-cart"><p
                id="cart">{{cartItemCount}}</p></span>
        <span *ngIf="!status" routerLink="/login" class="pi pi-user"></span>
        <span *ngIf="status" routerLink="/login" (click)="logOut()"
            class="pi pi-sign-out"></span>
        <span class="total">{{totalPrice | currency}}</span>
    </div>
</div>
