.container {
  padding-left: 15px;
  display: grid;
  grid-template-columns: 15% 1fr;
  height: 100%;
  background-color: rgb(95, 141, 133);
  overflow: hidden;
}
.sidebar {
  background-color: rgb(95, 141, 133);
}
.cards {
  background-color: rgb(95, 141, 133);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  padding: 20px;
}
