<div class="container">
    <div class="head">
        <h1>Search Trending</h1>
        <ul>
            <li>
                <i class="pi pi-star"></i>
                <p>Hot Trending</p>
            </li>
            <li>
                <i class="pi pi-desktop"></i>
                <p>Electronic</p>
            </li>
            <li>
                <i class="pi pi-warehouse"></i>
                <p>Furniture</p>
            </li>
            <li>
                <i class="pi pi-user"></i>
                <p>Garment</p>
            </li>
            <li>
                <i class="pi pi-eye"></i>
                <p>Health & Beauty</p>
            </li>
            <li>
                <i class="pi pi-shopping-bag"></i>
                <p>Handbag</p>
            </li>
            <li>
                <i class="pi pi-face-smile"></i>
                <p>Mom & Baby</p>
            </li>
            <li>
                <i class="pi pi-book"></i>
                <p>Book & Office</p>
            </li>
        </ul>
    </div>
    <div class="content"></div>
</div>
