.sidebar {
  margin-top: 40px;
  width: 100%;
  background-color: #214c50;
  padding: 20px;
  color: white;
  height: 100%;
  border-radius: 10px;
}

.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.sidebar-list {
  list-style: none;
  padding: 0;
}

.sidebar-list li {
  margin: 15px 0;
}

.sidebar-list a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}

.sidebar-list a:hover {
  color: #b8e2e2;
}
